.todoListInput {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.todoLanes {
    width: 75%;
    margin: 0 auto;
}

.todoLane {
    margin: 0 auto;
}

.middleLane {
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 0px 1px 0px 1px; 
}

.rightLane {
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 0px 0px 0px 1px;
}

.leftLane {
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 0px 1px 0px 0px;
}