.btn-row {
    text-align: right;
    button {
        margin-right: 5px;
    }
    margin-right: 5px;
    margin-left: 5px;
}

.card {
    margin: 0 0 10px 0;
}

.done {
    text-decoration: line-through;
}

.doing {
    color: green;
}