.btn-row {
    text-align: right;
    button {
        margin-right: 5px;
    }
    margin-right: 5px;
    margin-left: 5px;
}

.card {
    margin: 0 auto 10px auto;
    float: none;
}

.done {
    text-decoration: line-through;
}

.doing {
    //color: #3a3a3c;
    color: green;
}